.nav {
	width: min(100% - 64px);
	position: fixed;
	top: 0;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--charlie);
	color: var(--alfa);
	padding: 16px 32px;
	font-size: 16px;
}

.brand {
	font-weight: bold;
}

.links {
	display: flex;
	justify-content: space-around;
	gap: 24px;
}
