:root {
	--alfa: #f2f3eb;
	--beta: #e2b6cd;
	--charlie: #16161a;
	--delta: #b1b2aa;

	--large: 1216px;
}

body {
	margin: 0;
	padding: 0;
	margin-inline: auto;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
	background-color: #242629;
}

a {
	text-decoration: none;
	color: inherit;
}
