/* .container {
	width: min(100% - 32px, 1280px);
	margin-inline: auto;
} */

.hero {
	height: 100vh;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* position: relative; */
	z-index: -2;
}

.portfolio {
	padding: 0 32px;
	color: #ddd;
}

.row {
	display: flex;
}

.column {
	width: 50%;
}

.heading {
	position: sticky;
	top: 70px;
}
