.footer {
	background-color: #26272b;
	padding: 45px 0 20px;
	font-size: 15px;
	line-height: 24px;
	color: #737373;
}

.container {
	width: 1140px;
	margin-inline: auto;
}

.row {
	display: flex;
	justify-content: space-between;
}

.left {
	width: 50%;
}

.heading {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	margin: 5px 0;
	letter-spacing: 2px;
}

.links {
	display: flex;
	flex-direction: column;
}

.text {
	margin: 0;
	padding: 0;
}

.socialMedia {
	display: flex;
	justify-content: space-between;
	gap: 16px;
}

.line {
	border-top-color: #bbb;
	opacity: 0.5;
	margin: 15px 0;
}

